{% extends 'base.html.twig' %}

{% block title %}关于我们 - {{ parent() }}{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="page-header">
        <div class="container">
            <div class="row page-section">
                <div class="col-md-8">
                    <h4>About Us</h4>
                    <h1>关于我们</h1>
                </div>
            </div>
        </div>
    </div>

    {# About-us-section #}
    <div class="about-us-section ptb80">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="heading-title">关于我们</h1>
                    <h4 class="sub-title mb30">What we are and our history</h4>
                    <p>{{ about[0].summary }}</p>
                    
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('images/about-circle.jpg') }}" class="img-responsive img-circle" alt="About Us" />
                </div>            
        </div>
    </div>
</div>

    {# Doctor section #}
    <div class="lightbg ptb80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="text-center">
                        <h1 class="heading-title">团队成员</h1>
                        <h4 class="sub-title mb30">Here is our specialized team</h4>
                    </div>
                </div>
                {% for doctor in staffs|slice(0,4)%}
                    <div class="col-lg-3 col-md-3">
                        <div class="dc-box">
                            <a href="{{ path('app_doctor_details', {id: doctor.id}) }}">
                                <img src="{{ asset('images/' ~ doctor.image) }}" class="img-responsive" alt="{{ doctor.title }}" />
                            </a>
                            <h4><a href="{{ path('app_doctor_details', {id: doctor.id}) }}">{{ doctor.title }}</a></h4>
                            <span>{{ doctor.title }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Department Section #}
    <div class="department-section ptb80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading-title">产品服务</h1>
                    <h4 class="sub-title mb60">Our special services</h4>                
                </div>        
                <div class="col-md-8">
                    <div class="row" role="tablist">
                        {% set dept = [
                            {icon: 'oralhealth', name: 'Oral Health'},
                            {icon: 'otology', name: 'Otology'},
                            {icon: 'hepatology', name: 'Hepatology'},
                            {icon: 'gastroenterology', name: 'Gastroenterology'},
                            {icon: 'ophthalmology', name: 'Ophthalmology'},
                            {icon: 'orthopedics', name: 'Orthopedics'}
                        ] %}
                        {% for i in services %}
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 department-inner-icon">
                                        <i class="iconmed-{{ dept[loop.index0].icon }} department-icon"></i>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <h2>
                                            <a href="#{{ dept[loop.index0].icon }}" aria-controls="{{ dept[loop.index0].icon }}" role="tab" data-toggle="tab" style="font-size: 16px;">
                                                {{ i.title }}
                                            </a>
                                        </h2>
                                        <p class="mb60 ellipsis-3">{{ i.summary }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('app_services') }}" class="btn btn-default">查看更多</a>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4">
                    <div class="tab-content">
                        {% for i in services %}
                            <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' }}" id="{{ dept[loop.index0].icon }}">
                                <div class="department-right-box">
                                    <div class="department-right-box-icon">
                                        <i class="iconmed-{{ dept[loop.index0].icon }} department-icon"></i>
                                    </div>
                                    <div class="department-right-box-content">
                                        <h1>{{ i.title }}</h1>
                                        <p>无论何时何地，客户遇到任何问题，我们的专业团队都会迅速响应，全力解决，保障医院风险管理系统的稳定运行。</p>
                                        <a href="{{ path('app_appointment') }}" class="btn btn-default mt50">立即咨询</a>                               
                                    </div> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# CTA Section #}
    <div class="cta-white ptb70">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mb0">业务咨询</h1>
                    <p class="mb30">无论何时何地，客户遇到任何问题，我们的专业团队都会迅速响应，全力解决</p>
                    <a href="{{ path('app_appointment') }}" class="btn btn-default">立即咨询</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
