{% extends 'base.html.twig' %}

{% block title %}产品服务 - {{ parent() }}{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="page-header">
        <div class="container">
            <div class="row page-section">
                <div class="col-md-8">
                    <h4>Our offering</h4>
                    <h1>产品服务</h1>
                </div>
            </div>
        </div>
    </div>

    {# Services section #}
    <div class="ptb80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="heading-title">产品服务</h1>
                    <h4 class="sub-title mb30">Our special services</h4>
                </div>
            </div>

            {% for row in services|batch(3) %}
                <div class="row">
                    {% for service in row %}
                        <div class="col-md-4 col-sm-4">
                            <div class="service-style-box">
                                <a href="{{ path('app_service_details', {id: service.id}) }}">
                                    <img src="{{ asset('images/' ~ service.image) }}" class="img-responsive mb30" alt="{{ service.title }}">
                                </a>    
                                <h2>
                                    <a href="{{ path('app_service_details', {id: service.id}) }}" class="black">{{ service.title }}</a>
                                </h2>
                                <p>{{ service.summary }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-default">更多服务</a>
                </div>
            </div>
        </div>
    </div>

    {# Testimonial Section #}
    <div class="testimonial-style ptb80">
        <div class="container">
            <div class="row">
                <div class="col-md-1"><span class="left-quote">"</span></div>
                <div class="col-md-6">
                    <h1 class="heading-title">客户评价</h1>
                    <h4 class="sub-title">What our client says about us</h4>
                    <div id="testimonial-box1" class="testimonial-style-box">
                        {% for testimonial in testimonials %}
                            <div class="item">
                                <div class="testimonial-style-content">
                                    <p class="testimonial-text2">{{ testimonial.summary }}</p>
                                    <div class="testimonial-name">{{ testimonial.title }}<span>{{ testimonial.title }}</span></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>

    {# CTA Section #}
    <div class="cta-white ptb70">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mb0">业务咨询</h1>
                    <p class="mb30">无论何时何地，客户遇到任何问题，我们的专业团队都会迅速响应，全力解决</p>
                    <a href="{{ path('app_appointment') }}" class="btn btn-default">立即咨询</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
