{% extends 'base.html.twig' %}

{% block title %}Doctor Details - {{ parent() }}{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="page-header">
        <div class="container">
            <div class="row page-section">
                <div class="col-md-8">
                    <h4>Specialist</h4>
                    <h1>Doctors</h1>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('app_appointment') }}" class="btn btn-linegreen pull-right mt20 mr0">make an appointment</a>
                </div>
            </div>
        </div>
    </div>

    {# Doctor single #}
    <div class="ptb80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="heading-title">Doctor Profile</h1>
                    <h4 class="sub-title mb30">Specialists</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('images/doctor/dc1.jpg') }}" class="img-reposive img-circle dc-img mb50" alt="{{ doctor.name }}" />
                </div>
                <div class="col-md-8">
                    <div class="dr-single-box">
                        <h3 class="dr-single-tile">{{ doctor.name|default('Dr. doctor name') }} {{ doctor.qualifications|default('MBbs') }}</h3>
                        <div class="sub-tile">{{ doctor.department|default('Cardiology') }}</div>
                        <div class="dc-single-social">
                            <ul>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
                            </ul> 
                        </div>
                        <p>{{ doctor.description|default('Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.') }}</p>
                        <a href="{{ path('app_appointment') }}" class="btn btn-default mt30 mb50">make an appointment</a>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="mb10">Qualifications</h3>
                                <p>{{ doctor.qualifications_details|default('MB, BM (Bachelor of Medicine) BChir, ChB') }}</p>        
                            </div>
                            <div class="col-md-8">
                                <h3 class="mb10">Working hours</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">                             
                                        <ul class="dc-single-timetable">
                                            {% for day, hours in doctor.schedule|default({
                                                'Monday': '08:00-18:30',
                                                'Tuesday': '08:00-18:30',
                                                'Wednesday': '08:00-18:30'
                                            }) %}
                                                <li>{{ day }}<span>{{ hours }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6">                             
                                        <ul class="dc-single-timetable">
                                            {% for day, hours in doctor.schedule_extra|default({
                                                'Thursday': '08:00-18:30',
                                                'Friday': '08:00-18:30',
                                                'Sunday': 'Not available'
                                            }) %}
                                                <li>{{ day }}<span>{{ hours }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Doctor section - Same department #}
    <div class="lightbg ptb80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="heading-title">Doctors</h1>
                    <h4 class="sub-title mb30">Same department</h4>
                </div>
            </div>
            <div class="row">
                {% for related_doctor in related_doctors|default([
                    {image: 'dc9.jpg', name: 'Dr. Indhulekha Mari', department: 'Oral Health'},
                    {image: 'dc10.jpg', name: 'Dr. Jonathen petter', department: 'Cardiology'},
                    {image: 'dc11.jpg', name: 'Dr. Samuvel Son', department: 'Hepatology'},
                    {image: 'dc12.jpg', name: 'Dr. Rajvi Patel', department: 'Orthopedics'}
                ]) %}
                    <div class="col-lg-3 col-md-3">
                        <div class="dc-style-box">
                            <a href="{{ path('app_doctor_details') }}">
                                <img src="{{ asset('images/doctor/' ~ related_doctor.image) }}" class="img-responsive" alt="{{ related_doctor.name }}" />
                            </a>
                            <div class="dc-style-inner">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul> 
                                <h5><a href="{{ path('app_doctor_details') }}">{{ related_doctor.name }}</a></h5>
                                <span>{{ related_doctor.department }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path('app_doctors') }}" class="btn btn-default">View More</a>
                </div>
            </div>
        </div>
    </div>

    {# CTA Section #}
    <div class="cta-white ptb70">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mb0">Make your appointment now</h1>
                    <p class="mb30">Lorem Ipsum which looks reasonable generated Ipsum is therefore always.</p>
                    <a href="{{ path('app_appointment') }}" class="btn btn-default">Book appointment</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 