{% extends 'base.html.twig' %}

{% block title %}Contact Us - {{ parent() }}{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="page-header">
        <div class="container">
            <div class="row page-section">
                <div class="col-md-8">
                    <h4>Contact Us</h4>
                    <h1>联系我们</h1>
                </div>
            </div>
        </div>
    </div>

    {# Contact section #}
    <div class="ptb80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading-title">地图定位</h1>
                    <h4 class="sub-title-normal">You can find us through map</h4>
                    <div id="amap-container" class="mb-4 amap-container" data-aos="fade-up" data-aos-delay="200" style="height: 340px; margin-bottom: 24px;"></div>
                </div>      
            </div>
            <div class="row">
                {# Contact Form #}
                <form class="appointment-form" method="post" action="{{ path('app_contact_submit') }}">
                    <div class="col-md-8">
                        <h1 class="heading-title mb20">您的信息</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="first-name" name="first_name" placeholder="姓名*" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6 invisible">
                                <div class="form-group">
                                    <input class="form-control" id="last-name" name="last_name" placeholder="Last Name*" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="邮箱*" type="email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="电话*" type="tel" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="5" placeholder="内容"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mt20">
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>                                      
                        </div>
                    </div>
                </form>

                {# Contact Details #}
                <div class="col-md-4">
                    <h1 class="heading-title mb20">联系信息</h1>
                    <div class="contact-box">
                        <div class="contact-icon">
                            <i class="icon-location-pin icons"></i>
                            <div class="contact-box-content">
                                <span>地址</span>
                                <p>{{ conf.address|default('Medical street, Indiranagr, Royal building, 1536') }}</p>
                            </div>
                        </div>
                        <div class="contact-icon">
                            <i class="icon-envelope icons"></i>
                            <div class="contact-box-content">
                                <span>Email</span>
                                <a href="mailto:{{ conf.email|default('info@medical.com') }}" class="contact-link">
                                    {{ conf.email|default('info@medical.com') }}
                                </a>
                            </div>  
                        </div>
                        <div class="contact-icon">
                            <i class="icon-call-out icons"></i>
                            <div class="contact-box-content">
                                <span>Phone</span>
                                <a href="tel:{{ conf.phone|default('+91 8564 2256 555')|replace({' ': ''}) }}" class="contact-link">
                                    {{ conf.phone|default('+91 8564 2256 555') }}
                                </a>
                            </div>
                        </div>                                                                         
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="https://webapi.amap.com/maps?v=2.0&amp;key=3713e08bba2f85ad35c1ad69943d725f"></script>
<script>
window._AMapSecurityConfig = {
            securityJsCode:'76636e9692509e65528251d7a3c487c6',
}

let coord = [114.30,30.54];

let map = new AMap.Map('amap-container', {
	resizeEnable: true,
	zoom:14,
	center: coord
});


function addMarker(coord) {
	let marker = new AMap.Marker({
		//position: new AMap.LngLat(coord[0], coord[1]),
	});
	marker.setPosition(coord);
	map.add(marker);
}

function showInfoWindow(coord) {
	let infoWindow = new AMap.InfoWindow({
		anchor: 'top-left',
		content: '医惠保',
	});
	infoWindow.open(map, coord);
}

addMarker(coord);
showInfoWindow(coord);
</script>
{% endblock %} 
