<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="" />
        <meta name="keywords" content="">
        <meta name="author" content="" />
        <meta name="MobileOptimized" content="320" />
        
        <title>{% block title %}Home{% endblock %}</title>

        {# Favicon #}
        <link rel="icon" type="image/icon" href="{{ asset('images/favicon/favicon.ico') }}">

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/fontello.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,800" rel="stylesheet">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/simple-line-icons.css') }}" rel="stylesheet">
            <link href="{{ asset('css/menumaker.css') }}" rel="stylesheet">
            <link href="{{ asset('css/owl.carousel.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/stucture.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {# Include header template #}
            {{ include('partials/_header.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {# Include footer template #}
            {{ include('partials/_footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/waypoints.min.js') }}"></script>
            <script src="{{ asset('js/jquery.counterup.js') }}"></script>
            <script src="{{ asset('js/menumaker.js') }}"></script>
            <script src="{{ asset('js/theme.js') }}"></script>
        {% endblock %}
    </body>
</html>
